<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DivisAPP 23002910
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-input [(ngModel)]="cantidadQ" label="Ingrese una cantidad Q." type="number" placeholder="000"></ion-input>
    </ion-item>
    <ion-button (click)="calcularDolares()">Calcular</ion-button>
    <br>

    <strong>El resultado en dolares es</strong>
    <br>  
    <strong>$ {{resultadoD.toFixed(2)}}</strong>
  </div>
</ion-content>
